body {
  background-color: black;
}
.calculator{
width:30%;
margin: auto;
text-align: center;
background-color: grey;
height:auto;
padding:2%;
margin-top: 2%;
}

.display {
  display: flex;
  justify-content: space-between;
  margin: 5%;
}

.btn {
  width:50px;
  height:8vh
}

.operator {
  width:50px;
  height:8vh;
  background-color: beige;
  border:none;
}

input {
  width:90%;
  margin:auto;
  height:5vh
}